.btnSend {
    font-family: inherit;
    font-size: 15px;
    background: #3b99e0;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .btnSend span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .btnSend svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }

   .btnSend:hover {
    background: #59b1f5;
   }

   .btnSend:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .btnSend:hover svg {
    transform: translateX(140%) scale(1.5);
   }
   
   .btnSend:hover span {
    transform: translateX(10em);
   }
   
   .btnSend:active {
    transform: scale(0.96);
   }