.itemCard{
    border-radius: 5px !important;
    box-shadow: 14px 15px 33px -8px rgba(0,0,0,0.11);
    -webkit-box-shadow: 14px 15px 33px -8px rgba(0,0,0,0.11);
    -moz-box-shadow: 14px 15px 33px -8px rgba(0,0,0,0.11);
    overflow: hidden;
}

.cardImg{
    transition: transform 0.2s ease-in-out;
}

.cardImg:hover{
    transform: scale(1.1);
}