.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background-color: #f6f6f6;
}

.payment-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.payment-form form{
	border-top: 2px solid #5ea4f3;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em;
	}

  	.payment-form .card-details {
    	padding: 40px 40px 30px; 
    }

  	.payment-form button {
    	margin-top: 2em; 
    } 
}

@media (max-width: 573px){
	.payment-form .title {
		font-size: 1.2em;
		padding: .2em 0;
	}

	.payment-form .card-details {
    	padding: 40px 40px 30px; 
    }

	.payment-form button {
    	margin-top: 2em; 
    } 
}