.btnClear {
    font-family: inherit;
    font-size: 15px;
    background: #e62222;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .btnClear span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .btnClear svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }

   .btnClear:hover {
    background: #ff3636;
   }

   .btnClear:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .btnClear:hover svg {
    transform: translateX(275%) scale(1.5);
   }
   
   .btnClear:hover span {
    transform: translateX(10em);
   }
   
   .btnClear:active {
    transform: scale(0.96);
   }

   
   