@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

.productosTitulo{
    font-family: 'Montserrat', sans-serif;
}

.catalogo{
    background-color: rgba(248, 248, 248, 0.795);
}