@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

.emptyCartText{
    font-family: 'Montserrat', sans-serif;
}

.emptyCartImg{
    padding: 8%;
    opacity: 0.5;
}